@font-face {
    font-family: odin;
    src: url(font/Norse-Bold.otf);
}

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    margin: 0;
}

#content-pane a {
    text-decoration: none;
    color: #596D48;
}

/* splash pane */

#splash-pane {
    color: white;
    background: no-repeat url("img/ferns.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100%;
    flex: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#splash-pane div:nth-child(1) {
    flex: 1 0 0;
}

#logo-box {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 0 0 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.6);
}

#logo {
    width: 80px;
}

#logo-box p {
    font-family: odin, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    margin: 0;
}
#splash-pane div:nth-child(3) {
    flex: 2 0 0;
}

#image-credit {
    text-align: center;
    margin: 10px 0px;
    font-size: 0.8rem;
}

#splash-pane a {
    color: inherit;
}


/* content-pane */

#content-pane {
    background-color: rgb(249,250,251);
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content-pane>p {
    color: black;
    max-inline-size: 51ch;
    margin-left: 3rem;
}

#content-pane>p:not(:first-child) {
    margin-top: 1rem;
}

form>section {
    background-color: white;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
    margin: 2rem 0;
    padding: 1rem 0;
}

form section p {
    margin-bottom: 1rem;
    margin-left: 3rem;
}

#form-inputs-box {
    max-inline-size: 56ch;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    margin-left: 3rem;
}

#form-inputs-box>div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.65rem;
    letter-spacing: 0.08rem;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 2px;
    margin: 0.08rem 0;
    font-size: 0.8rem;
    padding: 0.4rem;
    padding-bottom: 0.3rem;
    width: 12rem;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
}

input:required {
    border-color: red;
}

form button {
    background-color: #596D48;
    padding: 0.8rem 2.8rem;
    margin: 0 0 1rem 3rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
}

form button:hover {
   cursor: pointer; 
}